* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("cor2.png");
  background-size: 100vw 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
}

h2.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 20vh;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}

a {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  color: rgb(28, 63, 63);
  font-size: 18px;
  text-transform: uppercase;
  text-decoration-color: rgb(28, 88, 28);
}

.menu {
  background-color: rgb(255, 255, 255);
  color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

/* Ignore abaixo */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vh;
}